@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  --green: #078a52;
  --forgot: #002d4e;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 23.49px;
  font-weight: 400;
}
h1 {
  font-size: 2.25rem;
  font-weight: 700;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1rem;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.small {
  font-size: 80%;
  text-align: center;
}
.split-screen {
  display: flex;
  flex-direction: column;
}
.left {
  height: 200px;
}
.left,
#welcome {
  font-weight: 400;
  font-size: 4rem;
}
.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  background: hsl(0, 0%, 26%);
}
.left .copy {
  color: white;
  text-align: center;
}
.left p {
  font-weight: 400;
}

.logo {
  max-width: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.logoimg {
  max-width: 100%;
  height: auto;
}
.right {
  background: rgba(67, 67, 67, 1);
}
.right .copy {
  color: black;
  text-align: center;
}
.right p {
  color: rgba(207, 207, 207, 1);
  font-weight: 400;
  margin: 1.5rem 0;
  font-size: 1rem;
}

.right form {
  width: 328px;
}
.input-container {
  font-family: "Poppins", sans-serif;
}
.input-container input[type="text"],
.input-container input[type="password"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 1);
  padding: 14.5px, 31.41px, 14.5px, 31.41px;
  border-radius: 17.1px;
  margin-bottom: 1rem;
  gap: 24.16px;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}
.input-container input[type="password"],
.input-container select {
  display: block;
  width: 100%;
  padding: 14.5px, 31.41px, 14.5px, 31.41px;
  border-radius: 17.1px;
  margin-bottom: 1rem;
  gap: 24.16px;
  padding: 10px;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.input-container select {
  padding: 1em;
  margin-bottom: 1.25rem;
  background-color: rgba(42, 195, 130, 0.37);
}

label {
  font-family: "Poppins", sans-serif;
  display: block;
  margin-bottom: 0.7rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.input-container .password {
  position: relative;
}

.signup-btn {
  display: block;
  color: rgba(60, 60, 60, 1);
  width: 100%;
  background: rgba(187, 187, 187, 1);
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.signup-btn:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .left,
  .right {
    padding: 10px; /* Ajusta este valor según sea necesario */
    width: auto; /* O puedes probar 'width: 100%;' para asegurarte de que ocupan el espacio disponible */
    overflow-x: hidden; /* Como solución temporal, pero busca la causa raíz */
  }

  .left,
  #welcome {
    font-size: 2rem; /* Ajusta el tamaño de la fuente */
  }

  /* Si 'left' tiene una altura definida, cámbiala a 'auto' para adaptarse al contenido */
  .left {
    height: auto;
  }

  /* Ajustes adicionales para otros elementos aquí */
}

@media screen and (min-width: 900px) {
  .split-screen {
    flex-direction: row;
    height: 100vh;
  }

  .left,
  .right {
    display: flex;
    width: 50%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .logoimg {
    width: 40%;
  }
}
