openapi: 3.1.0

info:
  title: Neumapp
  version: 1.0.0

servers:
  - url: https://neumapp.site:3001
    description: The development API server 
  - url: https://neumapp.site:4001
    description: The QA API server
  - url: https://neumapp.site:5001
    description: The production API server

tags:
  - name: Auth
  - name: Users
  - name: Providers
  - name: Reviews

paths:
  /auth/register:
    post:
      tags:
        - Auth
      summary: Register a user.
      requestBody:
        description: Create a new user.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserRegister'
        required: true
      responses:
        '201':
          description: A JSON of user registered.
  /auth/login:
    post:
      tags:
        - Auth
      summary: Loggin a user.
      requestBody:
        description: Loggin a user.
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
        required: true
      responses:
        '200':
          description: User logged and token.
  /users:
    get: 
      tags:
        - Users
      summary: Returns a list of users
      responses:
        '200':
          description: A JSON array of users. The image is a link from cloudinary.
        '400':
          description: Validation error
  /users/email/{email}:
    parameters:
      - in: path
        name: email
        schema: 
          type: string
        required: true
    get:
      tags:
        - Users
      summary: Returns a user with the data.
      responses:
        '200':
          description: A JSON of a user.

components:
  schemas:
    UserRegister:
      required:
        - firstName
        - lastName
        - email
        - password
        - phoneClient
      type: object
      properties:
        firstName: 
          type: string
          example: Arturo
        lastName:
          type: string
          example: Ortega Regil
        email:
          type: string
          example: olora@yahoo.com
        password: 
          type: string
          example: per43#784732#67y9
        phoneClient:
          type: string
          example: '+541112345678'
        photo:
          type: string
        status: 
          type: string
        isVerified:
          type: string
    UserLogin:
      required:
        - email
        - password
      type: object
      properties:
        email:
          type: string
          example: olora@yahoo.com
        password:
          type: string
          example: per43#784732#67y9

        